*
{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: Arial, sans-serif;
}

body{
    background-color: #151515;
}

.content
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.toDoListPage
{
    background-color: #FEFFFE;
    
    width: 600px;
    height: 650px;
    margin: 0px auto;
    border-radius: 10px;

    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.toDoListPage h2
{
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
    
}


input[type = "text"]
{
    padding: 10px;
    border: 2px solid #b0c0cc;
    width: 470px;
    border-radius: 10px;
    font-size: 15px;
}

input[type = "text"]:focus
{
    border: 2px solid #57B9FF;
    outline: none;
}

#addBtn
{
    margin-left: 20px;
    border-radius: 40px;
    width: 60px;
    height: 40px;
    background-color: #368AE0;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#addBtn:hover
{
    transform: scale(1.02);
    background-color: #2e79c5;
}

ul
{
    padding-top: 30px;
    padding-left: 0px;
    list-style-type: none;
    overflow-y: auto;
    max-height: 450px;
}

li
{
    width: 550px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
    background-color: #FEFFFE;
    border-radius: 10px;
    min-height: 50px;

    padding: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;

    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    text-align: left;

    display: flex;
    align-items: center;
    gap: 10px;
}

li span
{
    flex: 1;
    min-width: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

input[type="checkbox"] 
{
  width: 15px;
  height: 15px;
  cursor: pointer;
  accent-color: #04AA6D; 
  flex-shrink: 0;
}

input[type="checkbox"]:hover
{
    border-color: #368AE0;
    transform: scale(1.15);
}

#deleteBtn
{
    padding: 8px 12px;
    background: transparent;
    cursor: pointer;
    flex-shrink: 0;
    margin-left: auto;
    color: #FF0000;
}

#deleteBtn:hover
{
    transform: scale(1.15);
    color: #bf0000
}

.displayScreen
{
    flex: 1;
    width: 100%;
    overflow-y: auto;
    padding-right: 5px;
}

#deleteAllButton
{
    color: #FEFFFE;
    border-radius: 10px;
    height: 55px;
    width: 90px;
    background-color: #d00c0c;
    border-top: 1px solid #CCCCCC;
    border-right: 1.2px solid #333333;
    border-bottom: 1.2px solid #333333;
    border-left: 1px solid #CCCCCC;
    cursor: pointer;
}

#deleteAllButton:hover
{
    transform: scale(1.02);
    background-color: #9a0101
}